<!DOCTYPE html>
<!-- build:[manifest] game.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ 'CHESS_GAME' | translate }}</title>
  <meta name="description" content="Chess game">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-touch.min.js"></script>
  <script src="lib/ui-bootstrap-tpls.min.js"></script>

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.min.js"></script>
  <script src="lib/turnBasedServices.3.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

  <script>window.angularTranslationLanguages = ['en', 'zh'];</script>
</head>
<body ng-cloak>
    <div id="gameArea">
        <div ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7]"
            style="position:absolute; top:{{row * 12.5}}%; left:0; width:100%; height:12.5%;">
            <div ng-repeat="col in [0, 1, 2, 3, 4, 5, 6, 7]" class="square"
                style="position:absolute; top:0; left:{{col * 12.5}}%; width:12.5%; height:100%;"
                id="{{'e2e_test_div_' + row + 'x' + col}}">
                <svg width="100%" height="100%" style="position:absolute;" ng-show="true">
                    <!-- background image -->
                    <rect width="100%" height="100%" ng-attr-fill="{{game.getBackgroundFill(row, col)}}" id="MyBackground{{row}}x{{col}}" />
                    <div class="img-wrap" id="MyPiece{{row}}x{{col}}">
                        <!--The image of the piece get wrapped upon background img-->
                        <img ng-class="{piece: true,
                                        canSelect: game.canSelect(row, col),
                                        isBlackPiece: game.isBlackPiece(row, col),
                                        isWhitePiece: !game.isBlackPiece(row, col)}"
                             ng-show="game.shouldShowImage(row, col)"
                             ng-src="{{game.getImageSrc(row, col)}}"
                             id="{{'e2e_test_img_' + game.getPieceKindInId(row, col) + '_' + row + 'x' + col}}">
                    </div>
                </svg>
            </div>
        </div>
    </div>
</body>
</html>